*{
    margin:0;padding:0;
    box-sizing:border-box;
}
body{
    background-color: #eee;
    color: #4a4a4a;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
}
a{
    text-decoration:none;
}